<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品新規登録</title>
</head>
<body>
<!-- 商品一覧画面に戻るボタン -->
<a th:href="@{/main/productList}" class="back-button">&larr; 商品一覧に戻る</a>

<h1>商品新規登録</h1>
<form method="post" th:action="@{/main/productList/productRegister/save}" th:object="${saveProduct}">
    <input type="hidden" th:field="*{productId}" />
    <label>
        商品名
        <input type="text" th:field="*{productName}" placeholder="商品名を入力してください" required/>
    </label>
    <label>
        商品価格
        <input type="text" th:field="*{productValue}" placeholder="商品価格を入力してください" required/>
    </label>
    <button type="submit">新規登録</button>
</form>
</body>
</html>