<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
    <script>
        function confirmDelete() {
            return confirm('本当に削除しますか？');
        }
    </script>
</head>
<body>
<!-- メイン画面に戻るボタン -->
<a th:href="@{/main}" class="back-button">&larr; メイン画面に戻る</a>

<h1>商品一覧</h1>
<div th:if="${productList}">
    <table>
        <thead>
        <tr>
            <th>
                商品名
            </th>
            <th>
                商品価格
            </th>
            <th>
                登録日時
            </th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productValue}"></td>
            <td th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <form method="post" th:action="@{/main/productList/editProduct}">
                    <input type="hidden" name="id" th:value="${product.productId}" />
                    <button type="submit" class="edit-button">編集</button>
                </form>
                <form method="post" th:action="@{/main/productList/deleteProduct}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="id" th:value="${product.productId}" />
                    <button type="submit" class="delete-button" onclick="return confirmDelete();">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(productList)}">
    <p>データがありません。</p>
</div>
<!-- 商品新規登録ボタン -->
<form method="get" th:action="@{/main/productList/viewRegister}">
    <button type="submit" class="register-button">商品新規登録</button>
</form>
</body>
</html>