<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/userList.css">
    <title>USER LIST</title>
    <script>
        function confirmDelete() {
            return confirm('本当に削除しますか？');
        }
    </script>
</head>
<body>
<div th:if="${userList}">
    <table>
        <thead>
        <tr>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>権限</th>
            <th>作成日時</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.mail}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <form method="post" th:action="@{/admin/userEdit}">
                    <input type="hidden" name="id" th:value="${user.userId}" />
                    <button type="submit" class="edit-button">編集</button>
                </form>
                <form method="post" th:action="@{/admin/userDelete}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="id" th:value="${user.userId}" />
                    <button type="submit" class="delete-button" onclick="return confirmDelete();">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(userList)}">
    <p>データがありません。</p>
</div>
<form th:action="@{/admin/userRegister}" method="get" class="ajax-form">
    <button type="submit" class="register-button">ユーザー登録</button>
</form>
</body>
</html>
