<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sale/saleLog.css">
    <title>SALE LOG</title>
    <script>
        function confirmDelete() {
            return confirm('本当に削除しますか？');
        }
    </script>
</head>
<body>
<div th:if="${saleLog}">
    <table>
        <thead>
        <tr>
            <th>
                取引ID
            </th>
            <th>
                合計金額
            </th>
            <th>
                受領金額
            </th>
            <th>
                お釣り
            </th>
            <th>
                登録日時
            </th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${saleLog}">
            <td th:text="${sale.saleId}"></td>
            <td th:text="${sale.totalAmount}"></td>
            <td th:text="${sale.receiveAmount}"></td>
            <td th:text="${sale.changeAmount}"></td>
            <td th:text="${#temporals.format(sale.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <form method="post" th:action="@{/main/saleLog/detail}">
                    <input type="hidden" name="id" th:value="${sale.saleId}" class="ajax-form" />
                    <button type="submit" class="edit-button">詳細</button>
                </form>
                <form method="post" th:action="@{/main/saleLog/deleteLog}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="id" th:value="${sale.saleId}" class="ajax-form" />
                    <button type="submit" class="delete-button" onclick="return confirmDelete();">削除</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${#lists.isEmpty(saleLog)}">
    <p>データがありません。</p>
</div>
</body>
</html>
