<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sale/saleDetailLog.css">
    <title>SALE DETAIL LOG</title>
</head>
<body>
<a th:href="@{/main}" class="back-button">&larr; メインページに戻る</a>
<h1>売り上げ詳細</h1>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>金額</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="saleProduct : ${saleDetailLog}">
            <td th:text="${saleProduct.productName}"></td>
            <td th:text="${saleProduct.productValue}"></td>
            <td th:text="${saleProduct.quantity}"></td>
            <td th:text="${saleProduct.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>